.App {
    width: 100vw; /* Coloca o .App como toda a aplicacao*/
    height: 100vh;
     background-image: linear-gradient(90deg, #002F52 35%, #326589);
}


li {
    list-style: none; /* Tira a bolinha da lista */
    
}